
{
  "presets": [
    ["@babel/preset-react",
      {
        "targets": {
          "node": "current"
        }
      }],
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ],
}
